body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-left: 5px;
}

ul#historico {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#historico .proposta-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

ul#historico .proposta-item p {
    margin: 0;
}

ul#historico .proposta-item p strong {
    font-weight: bold;
}

ul#historico .proposta-item ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul#historico .proposta-item ul li {
    margin-bottom: 5px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
}

